.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(98, 183, 240)0%,
    rgba(98, 183, 240)50%,
    rgba(240,98,146,1)50%,
    rgba(240,98,146,1)100%
    );
    font-family: "Rubik", sans-serif;
    color: #78909c;
}

